Flask
flask-cors
pandas
gunicorn
numpy
matplotlib
statsmodels
plotly
scikit-learn
faker
datetime
flake8 # TODO: remove for production
pytest # TODO: remove for production
coverage # TODO: remove for production
