
#grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

header {
  grid-column: span 2; 
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}


/* Close button styling */
.close-button {
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.close-button:hover {
  background-color: #276323;
}

.popup-content p {
  margin-bottom: 15px; /* Adds spacing between paragraphs */
  line-height: 1.8;    /* Improves readability */
}

.popup-content ul {
  margin: 15px 0;      /* Space between list and paragraphs */
  padding-left: 20px;  /* Indent lists for better hierarchy */
}

.popup-content li {
  margin-bottom: 10px; /* Space between each list item */
  color: #dcdcdc;      /* Consistent with the paragraph color */
  line-height: 1.6;    /* Improve readability of list items */
}

.popup-content h3 {
  color: #000000; /* Change this to the desired color */
  font-size: 1rem; /* Adjust size as needed */
  margin-top: 30px; /* Adds spacing below the heading */
  text-align: left; /* Aligns text to the left */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
