body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  linear-gradient(30deg, #4f9f6b 12%, transparent 12.5%, transparent 87%, #4f9f6b 87.5%, #4f9f6b), linear-gradient(150deg, #4f9f6b 12%, transparent 12.5%, transparent 87%, #4f9f6b 87.5%, #4f9f6b), linear-gradient(30deg, #4f9f6b 12%, transparent 12.5%, transparent 87%, #4f9f6b 87.5%, #4f9f6b), linear-gradient(150deg, #4f9f6b 12%, transparent 12.5%, transparent 87%, #4f9f6b 87.5%, #4f9f6b), linear-gradient(60deg, #4f9f6b77 25%, transparent 25.5%, transparent 75%, #4f9f6b77 75%, #4f9f6b77), linear-gradient(60deg, #4f9f6b77 25%, transparent 25.5%, transparent 75%, #4f9f6b77 75%, #4f9f6b77);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.logo {
  width: 60px;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.subheading {
  margin: 10px 0;
}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
}


