body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg, #a2c9ac40 0%, #ffffff 50%, #a2c9ac40 100%
  )
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.logo {
  width: 60px;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.subheading {
  margin: 10px 0;
}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
}