#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.custom-help-icon {
  color: green;
  font-size: 30px;
  transition: color 0.3s ease;
}

.custom-help-icon.hover {
  color: black;
}