
/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #a2c9ac83; 
} */

.desktop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
}

